<!DOCTYPE html>
	<html>
		<head>
			<title>Thermostat</title>
			<link rel="stylesheet" type="text/css" href="/css/reset.css">
			<link rel="stylesheet" type="text/css" href="/css/styles.css">
		</head>

		<body>
		<section>
			<aside>
				<p id="number">20°</p>
			</aside>
			<nav>
				<ul>
					<li><a href="#" id="increase">+</a></li>
					<li><a href="#" id="decrease">-</a></li>
					<li><a href="#" id="reset">Reset</a></li>
				</ul>
			</nav>
		</section>
			<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" src="js/interface.js"></script>
			<script type="text/javascript" src="js/thermostat.js"></script>
			
		</body>
	</html>