@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
	background-color: yellow;
	color: rgb(224,224, 224);
}

#number {
	display: inline;
	font-size: 1200%;
/*	position: absolute-relative;*/
	margin-top: 200px;
	margin-left: auto;
	text-align: center;
	vertical-align: center;
	horisontal-align: middle;
	font-family: 'Lobster', cursive;
}

header {
	
}